<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEMBERS CLUB</title>
  </head>
  <body>
    <h1>Register</h1>
    <% if (errors.length > 0) { %>
      <p>
        <% errors.forEach((error) => { %>
          <p><%= error.msg %></p>
        <% }) %>
      </p>
      </>
    <% } %>
    <form action="/register" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        required
      />
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/">Login</a></p>
  </body>
</html>
